div{
    margin:0 auto;
    padding: 10px;
    width: 75%;
    background-color: white;
    
}
body{
    background-color: FloralWhite;
}
h1 {
	color: dimgrey;
    font-size: 40px;	
}
nav{
    background-color: whitesmoke;
    text-align: center;
}
h2{
    text-align: center;
}
header{
    background-color: #ECFBFA ;
    text-align: center;
}
main {
    
    padding: 15px;
    text-align: justify;
    background-color: #f9fcfa;
    margin-bottom: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

footer{
    background-color:#fcf5ed ;
    padding: 14px;
    border-bottom: 1px solid black;
}

table{
    border: 1px black;
}


