<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agenda">
    <meta name="author" content="e-ghost 2019">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@arratenogales">
    <meta name="twitter:title" content="Título de tu página">
    <meta name="twitter:description" content="Descripción de tu página">
    <meta name="twitter:image" content="URL_de_la_imagen">
    <title>AgendaVue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "AgendaVue",
            "url": "https://x.com",
            "sameAs": [
                "https://www.facebook.com/x",
                "https://twitter.com/x"
            ]
        }
    </script>
    
    <script src="js/segunfo.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyCsf9zaLGWRe736BShZhykIAAB4Raspw34",
          authDomain: "agendaiw-844ec.firebaseapp.com",
          projectId: "agendaiw-844ec",
          storageBucket: "agendaiw-844ec.appspot.com",
          messagingSenderId: "326430926225",
          appId: "1:326430926225:web:0a7385f09590fd64d66630",
          measurementId: "G-ETLB3WD40V"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
      </script>

    <!-- Navigation -->
    <!-- Uso de Microdata -->
    <nav class="navbar navbar-default navbar-fixed-top" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top" itemprop="url">AgendaVue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" itemprop="hasPart" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul class="nav navbar-nav navbar-right" itemprop="mainEntity" itemscope itemtype="http://schema.org/ItemList">
                    <li class="hidden" >
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="#contactos" itemprop="url">
                            <span itemprop="name">Contactos</span>
                        </a>
                    </li>
                    <li class="page-scroll" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="#nuevo" itemprop="url">
                            <span itemprop="name">Añadir contacto</span>
                        </a>
                    </li>
                    <li class="page-scroll" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="#about" itemprop="url">
                            <span itemprop="name">Acerca de...</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <!-- Uso de Microdata -->
    <header itemscope itemtype="http://schema.org/WPHeader">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name" itemprop="headline">AgendaVue</span>
                        <hr class="star-light">
                        <span class="skills" itemprop="description">Agenda básica en Vue</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contactos Grid Section -->
    <!-- Uso de Microdata -->
    <div id="app-1">
<!-- Contactos Grid Section -->
<section id="contactos" itemscope itemtype="http://schema.org/ItemList">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 itemprop="name">Contactos</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Person" v-for="(contact, index) in contactos" class="contact">
            <div class="row">
                <div class="col-xs-4" itemprop="name">
                    <h4>Nombre</h4>
                    <p>{{ contact.name }}</p>
                </div>
                <div class="col-xs-4" itemprop="email">
                    <h4>Email</h4>
                    <p>{{ contact.email }}</p>
                </div>
                <div class="col-xs-3" itemprop="telephone">
                    <h4>Teléfono</h4>
                    <p>{{ contact.phone }}</p>
                </div>
            </div>
        </div>
        <template>
            <div>
                <div class="row" v-for ="(contacto, index) in contactos">
                    <div class="col-xs-4">
                        {{contact.name}}
                    </div>
                    <div class="col-xs-4">
                        {{contact.email}}
                    </div>
                    <div class="col-xs-3">
                        {{contact.phone}}
                    </div>
                    <div class="col-xs-1">
                        <button 
                        v-on:click="eliminarContacto(index)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
            <div class="row" v-if="contactos.length === 0">
                <div class="col-xs-12">
                    <p>No se ha encontrado ningún contacto.</p>
                </div>
            </div>
            </div>   
        </template>    
        </div>
    </div>
</section>
        <!-- cierre del app-1 -->
    

    <!-- Añadir nuevo Section -->
    <!-- Uso de Microdata -->
    <section id="nuevo" itemscope itemtype="http://schema.org/WebPage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 itemprop="name">Añadir contacto</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group" itemscope itemtype="http://schema.org/Person">
                            <div class="form-group col-xs-12 floating-label-form-group controls" itemprop="name">
                                <label>Nombre</label>
                                <input v-model="nuevoContacto.name" type="text" class="form-control" placeholder="Nombre" id="name">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group" itemscope itemtype="http://schema.org/Person">
                            <div class="form-group col-xs-12 floating-label-form-group controls" itemprop="email">
                                <label>Email</label>
                                <input v-model="nuevoContacto.email" type="email" class="form-control" placeholder="Email" id="email">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group" itemscope itemtype="http://schema.org/Person">
                            <div class="form-group col-xs-12 floating-label-form-group controls" itemprop="telephone">
                                <label>Teléfono</label>
                                <input v-model="nuevoContacto.phone" type="tel" class="form-control" placeholder="Número de teléfono" id="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="button" class="btn btn-success btn-lg" @click="aniadirContacto" :disabled="nuevoContacto.name.length === 0 || nuevoContacto.email.length === 0 || nuevoContacto.phone.length === 0">Añadir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- PRUEBAAAA -->
 
    <!-- About Section --> 
    <!-- Uso de RDFa -->
    <section class="success" id="about" typeof="schema:WebPage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 property="schema:name">Acerca de...</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" resource="#agendavue" typeof="schema:Organization">
                <div class="col-lg-12 text-center">
                    <p property="schema:description">AgendaVue es un proyecto simple en VueJS.</p>
                    <p>Síguenos en nuestras redes sociales:</p>
                    <ul class="list-inline">
                    <li property="schema:sameAs" typeof="schema:URL">
                        <a href="https://www.instagram.com/lasrecetascocina/" class="instagram-follow-button" data-show-count="false">Follow @RecetasdeCocina on IG</a><script async src="https://platform.instagram.com/widgets.js" charset="utf-8"></script>
                    </li>
                    <li property="schema:sameAs" typeof="schema:URL">
                            <a href="https://www.facebook.com/LasRecetasdeCocina/" class="facebook-follow-button" data-show-count="false">Follow @RecetasdeCocina on FB</a><script async src="https://platform.facebook.com/widgets.js" charset="utf-8"></script>
                    </li>
                    <li property="schema:sameAs" typeof="schema:URL">
                        <a href="https://twitter.com/RecetasdeCocina?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @RecetasdeCocina</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                    </ul>
                    <h3>Tweets de cocina que podrian interesarte</h3>
                    <div class="center-tweets">
                    <li property="schema:sameAs" typeof="schema:URL">
                        <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Seguimos en una nube tras la noche mágica en la gala de <a href="https://twitter.com/GuiaMichelin_ES?ref_src=twsrc%5Etfw">@GuiaMichelin_ES</a> 2024 🌟🌟🌟 <br><br>Agradecidos por renovar nuestras estrellas y felicitaciones a todos los galardonados, a los debutantes y a quienes añaden una estrella a su trayectoria. <br><br>¡Muchísimas felicidades a todos! <a href="https://t.co/cWqsodyc5N">pic.twitter.com/cWqsodyc5N</a></p>&mdash; Hermanos Torres (@HermanosTorres) <a href="https://twitter.com/HermanosTorres/status/1729815021532696634?ref_src=twsrc%5Etfw">November 29, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                    <li property="schema:sameAs" typeof="schema:URL">
                        <blockquote class="twitter-tweet"><p lang="es" dir="ltr">🚨 ¡ESTRENO!<br><br>Ya tenemos fecha para el estreno de <a href="https://twitter.com/MasterChef_es?ref_src=twsrc%5Etfw">@MasterChef_es</a> Junior <br><br>El lunes y martes a partir de las 22.50 horas en <a href="https://twitter.com/La1_tve?ref_src=twsrc%5Etfw">@La1_tve</a> y <a href="https://twitter.com/rtveplay?ref_src=twsrc%5Etfw">@rtveplay</a> <br><br>¡Prepara tu delantal que está edición viene fuerte! <a href="https://twitter.com/hashtag/MCJunior?src=hash&amp;ref_src=twsrc%5Etfw">#MCJunior</a> <a href="https://t.co/cCLoZuKF5w">pic.twitter.com/cCLoZuKF5w</a></p>&mdash; RTVE Comunicación y Participación (@RTVE_Com) <a href="https://twitter.com/RTVE_Com/status/1732838326401417268?ref_src=twsrc%5Etfw">December 7, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                    <li property="schema:sameAs" typeof="schema:URL">
                        <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Ensaladilla rusa vegana: La ensaladilla rusa de hoy es perfecta si sois veganos o si lo son vuestros invitados… Su mayonesa es especial... <a href="https://t.co/xyIzYKYHct">https://t.co/xyIzYKYHct</a> <a href="https://twitter.com/hashtag/EnsaladasyVerduras?src=hash&amp;ref_src=twsrc%5Etfw">#EnsaladasyVerduras</a></p>&mdash; Thermorecetas.com (@thermorecetas) <a href="https://twitter.com/thermorecetas/status/1732811354653008353?ref_src=twsrc%5Etfw">December 7, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Footer -->
    <!-- Uso de Microdata -->
    <footer class="text-center" itemscope itemtype="http://schema.org/WPFooter">
        <div class="footer-above">
            <div class="container">
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" itemprop="copyrightHolder">
                        Copyleft &copy; e-ghost 2019
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
    <!-- Vue -->
    <script src="js/vue.js"></script>   
    <script src="js/primero.js"></script>   



</body>

</html>
