<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" href="{static 'images/favicon.ico' %}" type="image/x-icon" >


<html lang="en">
    <head>
        <title>{% block titulo %}GESTOR DE RECETAS{% endblock %}</title>
    </head>
    <body>
        

        <div id="content">
        <header> 
            <nav><p><a href="/appEmpresaRecetas">Indice</a>
                <a href="/appEmpresaRecetas/receta/">Recetas</a>
                <a href="/appEmpresaRecetas/ingrediente/">Ingredientes</a>
                <a href="/appEmpresaRecetas/tipo/">Tipos de platos</a></p>
            </nav>
        <h1>GESTOR DE RECETAS</h1>
        <br>
        </header> 
            {% block contenido %}{% endblock %}
            <footer>
                <p><strong>Contacta con nosotros</strong></p>
                <p><u>Instagram:</u> recipestore</p>
                <p><u>Gmail:</u> recipestore@gmail.com</p>
                <p><u>Telefono:</u> 787 888 886</p>
            </footer>
        </div>
    </body>
    
</html>

