<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}GESTOR DE RECETAS{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/js1.js' %}"></script> 
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


        {% block java %} {% endblock %}
    </head>

    <body>
        <div class="prin">
        <header> 
    
            
            <nav><p><a href="{% url 'portada' %}">Indice</a>
                <a href="{% url 'index_recetas' %}">Recetas</a>
                <a href="{% url 'index_ingrediente' %}">Ingredientes</a>
                <a href="{% url 'index_tipo' %}">Tipos de platos</a>
                <button id="miFormulario"><a id = "bt" href="{% url 'formulario' %}">Añadir mi receta</a></button>
                
            </nav>
            <div class="mg-main-banner-section">
            
                        
                <h1 >GESTOR DE RECETAS</h1>
               <p>La mejor pagina wep para aprender a hacer las mejores recetas.</p>
               <img src="{% static 'images/plato.png' %}" alt="IMAGEN">
               
          
   
        </div>
<br>
        </header> 

        

        {% block contenido %}{% endblock %}
        <footer>
            <div class="footer-section">
                <div id="app">
                    {{ message }}
                </div>
                <h2>Contacto</h2>
                <p><strong>Email:</strong> recipestore@gmail.com</p>
                <p><strong>Teléfono:</strong> 787888886</p>
            </div>
            <div class="footer-section">
                <h2>Redes Sociales</h2>
                <p><strong>Instagram:</strong> recipestore</p>
                <p><strong>Facebook:</strong> recipestore</p>
            </div>
        
        </footer>
        </div>
    </body>

</html>

