<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}GESTOR DE RECETAS{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/js1.js' %}"></script> 
    </head>
    <body>
        <div id="content">
        <header> 
            <nav><p><a href="">Indice</a>
                <a href="receta/">Recetas</a>
                <a href="/ingrediente/">Ingredientes</a>
                <a href="/tipo/">Tipos de platos</a></p>
            </nav>
        
        <div class="mg-main-banner-section">
            
                        
                         <h1 >GESTOR DE RECETAS</h1>
                        <p>La mejor pagina wep para aprender a hacer las mejores recetas.</p>
                        
                   
            
        </div>
        <br>
       
        
        </header> 
            {% block contenido %}{% endblock %}
            <footer>
                <p><strong>Contacta con nosotros.</strong></p>
                <p>Instagram: recipestore</p>
                <p>Gmail: recipestore@gmail.com</p>
                <p>Telefono: 787888886</p>
            </footer>
        </div>
    </body>

</html>

