<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <script src="{% static 'js/js1.js' %}"></script> 

    <title>Bienvenida</title>

</head>
<body>
    
    <header>
        <h1 id = "id-indice">RECIPES STORE</h1>
    
    </header>

    <main>
        <nav>
            <button id="irFormulario">Registrarme</button></p>
            <button id="irDatos">Iniciar Sesion</button></p>
            <button id="irPortada">Continuar sin usuario</button></p>

        </nav>

        <p>Gracias por confiar en nosotr@s.</p>

    </main>
<br><br><br><br>
</body>
</html>