{% extends "base.html" %}

{% block titulo %}Formulario de Inserción de Pregunta{% endblock %}

{% block contenido %}

    <form id="miFormulario" action="{% url 'formulario' %}" method="post">
        {% csrf_token %}
        <h1>¡Envianos tus recetas!</h1>
        <p>Aqui puedes enviarnos tus recetas para que las añadamos a la pagina web y que otros usuarios puedan disfrutar de ellas:</p>

        <fieldset>
            <legend>Tus datos:</legend>
    
            <label for="nombre">Nombre </label>
            <input type="text" id="nombre" name="nombre"><br>
    
            <label for="apellido">Apellidos </label>
            <input type="text" id="apellido" name="apellido"><br>
    
            <label for="email">Correo electrónico </label>
            <input type="email" id="email" name="email"><br>
        </fieldset>
    
        <fieldset>
            <legend>Datos de la receta:</legend>
    
            <label for="nombreReceta">Nombre </label>
            <input type="text" id="nombreReceta" name="nombreReceta"><br>
    
            <label for="ingredientes">Ingredientes </label>
            <input type="text" id="ingredientes" name="ingredientes"><br>
    
            <label for="tipo">Tipo </label>
            <select id="tipo" name="tipo">
                <option value="Entrante">Entrante</option>
                <option value="Primero" selected>Primero</option>
                <option value="Segundo">Segundo</option>
                <option value="Postre">Postre</option>
            </select>
    
            <label for="tiempo">Selecciona el tiempo requerido para hacer la receta:</label>
            <input type="number" id="tiempo" name="tiempo"><br>
    
            <label for="detalle">Algun detalle necesario para llevar a cabo la receta: </label>
            <textarea id="detalle" name="detalle" rows="4" cols="50"></textarea>
        </fieldset>
    
        <input type="checkbox" id="accept" name="accept" value="Aceptar"> Acepto las condiciones

        <p>
            <input type="submit" value="Insertar Receta" onclick="">
        </p>
    </form>

{% endblock %}

