
{% extends "base.html" %}
{% load static %}
{% block titulo %}Listado de recetas{% endblock %}
{% block contenido %}
<section>
	<h2>Listado de recetas</h2>
{% if lista_recetas %}
    {% for d in lista_recetas %}
	<ul>
		<li>
			<a href="/appEmpresaRecetas/receta/{{ d.id }}/">{{ d.nombre}}</a>
			<br>
			{% with "images/"|add:d.nombre|add:".jpg" as imagen %}
        	<img src="{% static imagen %}" alt="">
        	{% endwith %}
			
		</li>
	</ul>
	{% endfor %}
{% else %}
<p>No hay recetas.</p>
{% endif %}
</section>
{% endblock %}

