{% extends "base.html" %}
{% block contenido %}
{% if ingrediente %}
<div class="cg"> 
<h2>Datos del ingrediente {{ ingrediente.nombre}}</h2>
<div class="body2">
<div class="contgrande">
     <div class="ingf">
    <table>
        <tr>
            <td><u>Kcal:</u></td>
            <td>{{ ingrediente.kcal}}</td>
        </tr>
        <tr>
            <td><u>Grasas:</u></td>
            <td> {{ ingrediente.grasas}}</td>
        </tr>
    </table>
   </div>
    
        <div class="ingf">
        <p>Lista de recetas de este ingrediente</p>
	{% if recetas %}
        {% for d in recetas %}
		<ul>
			<li><a href="{% url 'receta' receta_id=d.id %}">{{ d.nombre}}</a></li>
		</ul>
        {% endfor %}
	{% endif %}
</div>
</div>
</div>
</div>
  
{% else %}
    <p>No existe este ingrediente.</p>
{% endif %}

{% endblock %}