{% extends "base.html" %}

{% block titulo %}Formulario de Inicio de Sesión{% endblock %}

{% block contenido %}
    <form id="iniciosesion" action="{% url 'iniciar_sesion' %}" method="post">
        {% csrf_token %}

        <h1>FORMULARIO DE INICIO SESIÓN</h1>
        <p>Rellena los siguientes datos para iniciar sesión con tu usuario en el gestor de recetas</p>

        {{ form.as_p }}

        <p>
            <input type="submit" value="Iniciar Sesión" id="init">
        </p>
    </form>
{% endblock %}