{% extends "base.html" %}

{% block titulo %}Portada de Recipes Store{% endblock %}

{% block contenido %}
<h2>Recipes Store</h2>
<ul>
    {% for receta in lista_recetas_portada %}
        <li>Tipo: {{ receta.tipo }}</li>
        <li>Nombre de la receta con mayor duración: {{ receta.nombre }}</li>
        <li>Receta con mayor duración: {{ receta.max_duracion }}</li>
    {% endfor %}
</ul>
<br><br>
<a href="/appEmpresaRecetas/receta/">Acceder a todas las recetas disponibles</a><br><br>
<a href="/appEmpresaRecetas/ingrediente/">Acceder a todos los ingredientes disponibles</a><br><br>
<a href="/appEmpresaRecetas/tipo/">Acceder a todos los tipos de platos disponibles</a>

</div>
{% endblock %}
