{% extends "base.html" %}
{% block titulo %}Portada de Recipes Store{% endblock %}
{% block contenido %}
{% load static %}



<h2>Recipes Store</h2>
<main>
    <p>En Recipes Store, valoramos la calidad, la frescura y la simplicidad en la cocina. Todas nuestras recetas son seleccionadas cuidadosamente, probadas y presentadas de manera clara y concisa.
        Creemos que la cocina es una forma de expresión y creatividad, y estamos aquí para guiarte en cada paso del camino.</p>

    <h3>A continuacion tres de nuestras recetas que menor tiempo conllevan.</h3>
    <section>
    {% for receta in lista_recetas_portada %}
    <ul>
        <li>Tipo: <b>{{receta.tipo.nombre }}</b></li>
</li>
    </ul>
        <table>
            <tr>
                <td><u>Nombre:</u></td>
                <td>{{ receta.nombre }}</td>
            </tr>
            <tr>
                <td><u>Duracion:</u></td>
                <td> {{ receta.duracion }} minutos</td>
            </tr>
            <tr>
                <td colspan="2">{% with "images/"|add:receta.nombre|add:".jpg" as imagen %}
                    <img src="{% static imagen %}" alt="Imagen Receta">
                    {% endwith %}</td>
            </tr>
        </table>
        
        <br>
    {% endfor %}
    </section>

</main>
<br><br>

{% endblock %}
