{% extends "base.html" %}
{% load static %}


{% block titulo %} Detalles de la receta {% endblock %}
{% block contenido %}

{% if receta %}

<div class="rb">
    <h2>Datos de la receta de  {{ receta.nombre}} </h2>
    <ul>
        <li>
           Nombre: {{ receta.nombre}}
        </li>
        <li>
            Duracion: {{ receta.duracion}} minutos
        </li>
        <li>
           Tipo de receta: {{ receta.tipo}}
        </li>

        {% if receta.video %}
            <li>
            <a href="{{ receta.video }}" target="_blank">Ver Tutorial</a>
            </li>
        {% endif %}
    </ul>
</div>
    <div class="rb">
    <h3>Lista de ingredientes</h3>
	{% if ingredientes %}
    {% for i in ingredientes %}
		<ul>
			<li><a href="{% url 'ingrediente' ingrediente_id=i.id %}">{{ i.nombre}}</a></li>
		
		</ul>
        {% endfor %}
	{% endif %}
</div>
{% else %}
    <p>No existe esta receta.</p>
{% endif %}


{% endblock %}