{% extends "base.html" %}

{% block titulo %}Listado de tipos{% endblock %}

{% block contenido %}
<main>
<h2>Listado de tipos</h2>

{% if lista_tipos %}
{% for d in lista_tipos %}
<div class="lista-rec">
	<ul>
	
		<li>
		    <a href="{% url 'tipo' tipo_id=d.id %}">{{ d.nombre}}</a>
		</li>
	
	</ul>
</div>
	{% endfor %}
<div class="receta-section3">
<p>En el universo gastronómico, la diversidad de sabores se despliega en una coreografía de cuatro actos: entrante, primero, segundo y postre. Cada tipo de plato se erige como un personaje único, contribuyendo a la narrativa culinaria de una experiencia completa.
</p>
<p>El "Entrante", ese preludio del festín, ofrece una introducción intrigante a la sinfonía de sabores que está por venir. Desde delicadas ensaladas hasta aperitivos ingeniosos, esta primera impresión despierta el apetito y prepara el paladar para el deleite culinario.
</p>
<p>Los "Primeros" platos, como protagonistas principales, cautivan con su diversidad y creatividad. Desde risottos exquisitos hasta sopas reconfortantes, estos platos llevan a los comensales en un viaje lleno de texturas y matices, revelando el ingenio del chef en cada bocado.
</p>
<p>Luego emerge el "Segundo" acto, donde las proteínas toman el escenario principal. Ya sea pescado fresco, jugosas carnes o opciones vegetarianas, este plato principal ofrece una experiencia culinaria más sustancial, repleta de sabores intensos y combinaciones magistrales.
</p>
<p>Finalmente, el "Postre" cierra la velada con dulces notas finales. Desde decadentes pasteles hasta delicadas sorbetos, este epílogo culinario ofrece el toque final de indulgencia y placer, dejando a los comensales con un dulce recuerdo de la experiencia.
</p>

<p>Así, en la mesa se desenvuelve una obra maestra culinaria en cuatro actos, donde cada tipo de plato desempeña su papel para crear una experiencia gastronómica completa y memorable.
</p>
</div>
</main>

{% else %}
<p>No hay tipos.</p>
{% endif %}
{% endblock %}